$GB: #000000;
$TXT: #ffffff;
$TXT-SIZE: 42px;

@mixin FlexBody {
  display: flex;
  flex-direction: column;
}

@mixin GridBody {
  display: grid;
  place-items: center;
}

body {
  background-color: $GB;
  color: $TXT;
  font-size: $TXT-SIZE;
  // @include FlexBody();
  @include GridBody(); 

}