:root {

  --FONT-TEXT: 'Courier';
  --FONT-SIZE: 42px;
  --FONT-SIZE-2X: calc(var(--FONT-SIZE) * 2);
  --FONT-SIZE-3X: calc(var(--FONT-SIZE) * 3)
}

body {

  background-color: black;
  color: white;

  display: flex;
  justify-content: center;

  /* center all children horizontally */
  align-items: center;

  /* center all children vertically */
  font-family: var(--FONT-TEXT);

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  /* min-height: 100vh */
}