---
import Label from './component_label.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800"
      rel="stylesheet" />
    <title>Nutrition Label</title>
  </head>
	<style>
    @import '../styles/styles.scss';
  </style>
  <body>
    <Label />
    <Label />
    <Label />
    <Label />
  </body>
</html>
