button {
  font-size: 21px;
}

.input-wrapper {
  display: flex;
  flex:1;
  margin:1px;
  align-items: center;
  margin-block-end: 1em;
  height: 42px;
  button {
    margin: 6px;
  }
  input {
    font-size: 21px;
    /* width: 42%; */
    height: 88%
  }
}

.assembly-line-wrapper {
  display: flex;
  .assembly-line-child {
    display: flex;
    flex-direction: column;
    flex:1;
    border: thin coral dotted;
    min-height: 42px;
    margin:1px;
    text-align: center;
  }
  button {
    margin: 6px;
    align-self: left;
    flex: 1;
  }
}