body {

    background-color: black;
    color: white;
    display: flex;
    justify-content: center; /* center all children horizontally */
    align-items: center; /* center all children vertically */
    height: 100vh;
}