body {

    background-color: black;
    color: white;
    
    /* transform: scale(1.25); */
    /* transform-origin: top left; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

:root {

    --FONT-SIZE: 42px;
    --FONT-SIZE-HALF: calc(var(--FONT-SIZE) / 2);
    --FONT-SIZE-QUART: calc(var(--FONT-SIZE) / 4);
    --FONT-SIZE-PLACEHOLDER: 16px;
    --FONT-BUTTON: 'Inconsolata';
    --FONT-TEXT: 'Inconsolata';
    --BUTTON-SIZE: 52px;
    --MARGIN-S: .2em;
    --WIDTH-M: 192px;
    --TIME-TRANS: 0.3s;
    --RED-PV: palevioletred;
    --RED-TQ: paleturquoise;
}

#root {

    /* min-height: calc(100vh - 6rem); */
    text-align: center;
    margin: 1em;
    font-family: var(--FONT-TEXT);
    font-size: var(--FONT-SIZE);
    /* width: calc(100vw / 2) */
}

button {

    margin-left: var(--MARGIN-S);
    margin-right: var(--MARGIN-S);
    font-size : var(--FONT-SIZE);
    font-family : var(--FONT-BUTTON);
    /* border-radius: 2px; */
    height: var(--BUTTON-SIZE);
    width: calc(var(--BUTTON-SIZE) * 2);
}
