---
import './styles/styles.scss' // otherwise deployment w/o css
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<!-- <style> @import '/styles/styles.scss'; </style> -->
	<body>
		<div class="container"></div>
	</body>
	<script>
		
		const FetchData = async ( url: string ): Promise<string[]> => {

			try {
				const resp = await fetch( url )
				const jsn = await resp.json()
				return jsn
			} catch (error: any) {
				console.error("Error fetching data: ", error)
				throw error
			}
		}


		//	set paths
		const catPath: string = 'https://catfact.ninja/fact'
		const jokePath: string = 'https://official-joke-api.appspot.com/random_joke'


		//	read Api's
		const catStuffFromAPI = FetchData( catPath )
		const jokesFromAPI = FetchData( jokePath )
		
		


		jokesFromAPI.then((stuff) => {

			const cont = document.querySelector('.container')

			// set up current joke
			const currJokeL = document.createElement('span')
			const currJokeRU = document.createElement('span')
			const currJokeRD = document.createElement('span')


			currJokeL.className = 'curr-joke-L'
			currJokeL.textContent = 'Currently on `Joke.co`: \n'
			currJokeRU.className = 'curr-joke-RU'
			currJokeRU.textContent = stuff['setup']
			currJokeRD.className = 'curr-joke-RD'
			currJokeRD.textContent = stuff['punchline']


			// append them all & manage storage
			cont.appendChild(currJokeL)
			cont.appendChild(currJokeRU)
			cont.appendChild(currJokeRD)
		})


		catStuffFromAPI.then((stuff) => {

			const cont = document.querySelector('.container')

			const tempOldFact = window.localStorage.getItem('oldFact')
			const localOldFact = tempOldFact ? JSON.parse(tempOldFact) : "No previous fact"

			const tempOlderFact = window.localStorage.getItem('olderFact')
			const localOlderFact = tempOlderFact ? JSON.parse(tempOlderFact) : "No previous fact"


			//	set up local fact level -2
			const olderFactL = document.createElement('span')
			const olderFactR = document.createElement('span')

			olderFactL.className = 'older-fact-L'
			olderFactL.textContent = 'Pre-previous cat fact: \n'
			olderFactR.className = 'older-fact-R'
			olderFactR.textContent = localOlderFact.fact
			// console.log(localOlderFact.oldFact)


			// set up local fact level -1
			const oldFactL = document.createElement('span')
			const oldFactR = document.createElement('span')

			oldFactL.className = 'old-fact-L'
			oldFactL.textContent = 'Previous cat fact: \n'
			oldFactR.className = 'old-fact-R'
			oldFactR.textContent = localOldFact.fact
			// console.log(localOldFact.oldFact)


			// set up current stuff
			const currFactL = document.createElement('span')
			const currFactR = document.createElement('span')


			currFactL.className = 'curr-fact-L'
			currFactL.textContent = 'Currently on `CatFact.ninja`: \n'
			currFactR.className = 'curr-fact-R'
			currFactR.textContent = stuff['fact']


			// append them all & manage storage
			cont.appendChild(currFactL)
			cont.appendChild(currFactR)
			cont.appendChild(oldFactL)
			cont.appendChild(oldFactR)
			cont.appendChild(olderFactL)
			cont.appendChild(olderFactR)


			window.localStorage.setItem('olderFact', JSON.stringify(localOldFact))
			window.localStorage.setItem('oldFact', JSON.stringify(stuff))

			/*
			span.textContent = 
				'Previously on `catfact.ninja`: \n\n  ' +
				localFact.fact + ' \n\n' + 
				'From `catfact.ninja`: \n\n  ' + stuff['fact']
			cont.appendChild(span)
			window.localStorage.setItem('fact', JSON.stringify(stuff))
			*/
		})
	</script>
	
</html>
