---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>¡La Canción!</title>
	</head>
	<body>
		<!--
		<h1>Astro</h1>
		-->
		<div id='youtube-div'></div>
		<button id='btn-random' class='btn'></button>
	</body>
	<script>

		const infileURL = 'https://raw.githubusercontent.com/nuoxoxo/in/main/cancions.in'
		const FetchData = async (url) => {
			try {
				const response = await fetch(url)
				const data = await response.json()
				return data
			} catch (error) {
				console.error("Error fetching data: ", error)
				throw error
			}
		}

		const YoutubeDiv = document.getElementById('youtube-div') as HTMLDivElement
		const RandomButton = document.getElementById('btn-random') as HTMLButtonElement

		const Songs = await FetchData(infileURL)
		// console.log(songs)
		const SongKeys = Object.keys(Songs)

		let SongURL = SongKeys[Math.floor(Math.random() * SongKeys.length)]
		let SongART = Songs[SongURL]

		const iframe = document.createElement('iframe')
		iframe.id = 'youtube-iframe'
		iframe.src = 'https://www.youtube.com/embed/' + SongURL
		iframe.frameborder = '0'
		iframe.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
		iframe.allowfullscreen = true

		const coverart = document.createElement('img')
		coverart.id = 'youtube-coverart'
		coverart.src = 'https://i.imgur.com/' + SongART

		console.log(iframe.src, coverart.src)

		YoutubeDiv.appendChild(coverart)
		YoutubeDiv.appendChild(iframe)

		RandomButton.addEventListener('click', () => {
			const SongToSet = document.getElementById('youtube-iframe') as HTMLDivElement
			const CoverToSet = document.getElementById('youtube-coverart') as HTMLButtonElement
			SongURL = SongKeys[Math.floor(Math.random() * SongKeys.length)]
			SongART = Songs[SongURL]
			SongToSet.src = 'https://www.youtube.com/embed/' + SongURL
			CoverToSet.src = 'https://i.imgur.com/' + SongART

		})
	</script>
	<style>
		@import '../styles/index.scss'
	</style>
</html>
