---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>¡La Canción!</title>
	</head>
	<style>
		@import '../styles/index.scss'
	</style>
	<body>
		<h1>Astro</h1>
		<div class='youtube-div'>
      <iframe 
				width="560" 
				height="315" 
				src="https://www.youtube.com/embed/pCGE9BiEe_c" 
				title="" 
				frameborder="0" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
				allowfullscreen
			></iframe>
    </div>
	</body>
</html>
