$H-FULL: 600px;
$H-MOBILE: 500px;

body {

  // display: flex;
  // flex-direction: column;
  background-color:black;
  color:white;
  margin:0;
  padding:42px;
  display: flex;
  justify-content: space-around;
  .songs {
    max-width: 420px;
  }

}

