---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- <h1>Astro</h1> -->
		<div class='songs'>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=301352566/size=small/bgcol=ffffff/linkcol=0687f5/track=1530477844/transparent=true/" seamless><a href="https://tenzenmen.bandcamp.com/album/white">White by White</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1725208955/size=small/bgcol=ffffff/linkcol=0687f5/track=3910738558/transparent=true/" seamless><a href="https://noiseasia.bandcamp.com/album/otomo-yoshihide-summer-snow">Otomo Yoshihide 大友良英 - 女人四十Summer Snow by Otomo Yoshihide</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1725208955/size=small/bgcol=ffffff/linkcol=0687f5/track=122316554/transparent=true/" seamless><a href="https://noiseasia.bandcamp.com/album/otomo-yoshihide-summer-snow">Otomo Yoshihide 大友良英 - 女人四十Summer Snow by Otomo Yoshihide</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3878146297/size=small/bgcol=ffffff/linkcol=0687f5/track=2092610762/transparent=true/" seamless><a href="https://sonicyouth.bandcamp.com/album/evol">Evol by Sonic Youth</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1251308296/size=small/bgcol=ffffff/linkcol=0687f5/track=514020827/transparent=true/" seamless><a href="https://mortgarson.bandcamp.com/album/mother-earths-plantasia">Mother Earth&#39;s Plantasia by Mort Garson</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2381222447/size=small/bgcol=ffffff/linkcol=0687f5/track=2996785839/transparent=true/" seamless><a href="https://lindi.bandcamp.com/album/bride-in-legend">迷路新娘Bride in Legend by LinDi</a></iframe>
		<!--
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2455636137/size=small/bgcol=ffffff/linkcol=0687f5/track=1814805730/transparent=true/" seamless><a href="https://wanchairecords.bandcamp.com/album/hong-kong-disco">HONG KONG DISCO by Various Artists</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1414158815/size=small/bgcol=ffffff/linkcol=0687f5/track=3016462072/transparent=true/" seamless><a href="https://dinosaurjr.bandcamp.com/album/emptiness-at-the-sinclair">Emptiness at The Sinclair by Dinosaur Jr.</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=659235162/size=small/bgcol=ffffff/linkcol=0687f5/track=1432129494/transparent=true/" seamless><a href="https://wilcohq.bandcamp.com/album/a-ghost-is-born">A Ghost Is Born by Wilco</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3280332865/size=small/bgcol=ffffff/linkcol=0687f5/track=3664071238/transparent=true/" seamless><a href="https://cicada.bandcamp.com/album/hiking-in-the-mist">走入有霧的森林 Hiking in the Mist by Cicada</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=678011340/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://cicada.bandcamp.com/album/farewell-taiwan-version">Farewell — Taiwan Version by Cicada</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3371420134/size=small/bgcol=ffffff/linkcol=0687f5/license_id=1395/track=303055805/transparent=true/" seamless><a href="https://envy.bandcamp.com/album/last-wish-live-at-liquidroom-tokyo">LAST WISH | Live at LIQUIDROOM Tokyo by Envy</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1731317708/size=small/bgcol=ffffff/linkcol=0687f5/track=1370943621/transparent=true/" seamless><a href="https://envy.bandcamp.com/album/atheist-s-cornea">Atheistʼs Cornea by Envy</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=784419467/size=small/bgcol=ffffff/linkcol=0687f5/track=2710636642/transparent=true/" seamless><a href="https://bbemusic.bandcamp.com/album/j-jazz-volume-3-deep-modern-jazz-from-japan">J Jazz Volume 3: Deep Modern Jazz from Japan by BBE</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2749780157/size=small/bgcol=ffffff/linkcol=0687f5/track=1138514070/transparent=true/" seamless><a href="https://sonicyouth.bandcamp.com/album/the-whitey-album">The Whitey Album by Ciccone Youth (Sonic Youth)</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2261918891/size=small/bgcol=ffffff/linkcol=0687f5/track=596226088/transparent=true/" seamless><a href="https://sonicyouth.bandcamp.com/album/sonic-youth">Sonic Youth by Sonic Youth</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1912119872/size=small/bgcol=ffffff/linkcol=0687f5/track=976056255/transparent=true/" seamless><a href="https://mpsc.bandcamp.com/album/gala">Gala! by Misha Panfilov Septet</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3760824434/size=small/bgcol=ffffff/linkcol=0687f5/track=3464046660/transparent=true/" seamless><a href="https://marcribot.bandcamp.com/album/marc-ribot-plays-solo-guitar-works-of-frantz-casseus">Marc Ribot Plays Solo Guitar Works of Frantz Casseus by Marc Ribot</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2370146584/size=small/bgcol=ffffff/linkcol=0687f5/track=2637927529/transparent=true/" seamless><a href="https://glassbeams.bandcamp.com/album/mirage">Mirage by Glass Beams</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1873857433/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://glassbeams.bandcamp.com/album/mahal">Mahal by Glass Beams</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1374460584/size=small/bgcol=ffffff/linkcol=0687f5/track=2779545653/transparent=true/" seamless><a href="https://sol-invictus.bandcamp.com/album/in-europa">In Europa by Sol Invictus</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=481273847/size=small/bgcol=ffffff/linkcol=0687f5/track=1978053096/transparent=true/" seamless><a href="https://cloakroom.bandcamp.com/album/further-out-2">Further Out by Cloakroom</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1695814139/size=small/bgcol=ffffff/linkcol=0687f5/track=108070645/transparent=true/" seamless><a href="https://ruins.bandcamp.com/album/ruins-i-ii">RUINS I &amp; II by RUINS</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2309890442/size=small/bgcol=ffffff/linkcol=0687f5/track=1458773802/transparent=true/" seamless><a href="https://kinglychee.bandcamp.com/album/stand-strong-2003">Stand Strong (2003) by King Ly Chee</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3544944322/size=small/bgcol=ffffff/linkcol=0687f5/track=3367526831/transparent=true/" seamless><a href="https://elephant-gym.bandcamp.com/album/world">World by Elephant Gym</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1038710646/size=small/bgcol=ffffff/linkcol=0687f5/track=3673806595/transparent=true/" seamless><a href="https://elephant-gym.bandcamp.com/album/underwater">Underwater by Elephant Gym</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1998607865/size=small/bgcol=ffffff/linkcol=0687f5/track=352612953/transparent=true/" seamless><a href="https://thesugarcubes.bandcamp.com/album/lifes-too-good">Life&#39;s Too Good by The Sugarcubes</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3154057141/size=small/bgcol=ffffff/linkcol=0687f5/track=285487994/transparent=true/" seamless><a href="https://wangwen.bandcamp.com/album/iv-reissue">IV (reissue) by Wang Wen</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1853375597/size=small/bgcol=ffffff/linkcol=0687f5/track=2017084280/transparent=true/" seamless><a href="https://tenzenmen.bandcamp.com/album/honeyed-and-killed">Honeyed and Killed by Hedgehog</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2123852436/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://greeneyes.bandcamp.com/album/animal-suit-ep">Animal Suit EP by Green!Eyes</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2618641964/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="https://moijconnais.bandcamp.com/album/mjcr019-frantz-casseus-haitian-dances">MJCR019 - FRANTZ CASSEUS &quot;Haitian Dances&quot; by Moi J&#39;Connais Records</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=4082634705/size=small/bgcol=ffffff/linkcol=0687f5/track=2748017856/transparent=true/" seamless><a href="https://elephant-gym.bandcamp.com/album/balance">Balance by Elephant Gym</a></iframe>
			<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=301352566/size=small/bgcol=ffffff/linkcol=0687f5/track=1417364880/transparent=true/" seamless><a href="https://tenzenmen.bandcamp.com/album/white">White by White</a></iframe>
		-->

		</div>	
	</body>
	<style>
		@import "../styles/styles.scss"
	</style>
</html>
