$GB: #000000;
$TXT: #ffffff;

$IMG-SIZE-ON-MEDIA-MOBILE: 88px;
$IMG-SIZE-ON-MEDIA-HALFMAC: 200px;
$IMG-SIZE-ON-MEDIA-FULLMAC: 400px;

$TXT-SIZE: 12px;
$TXT-SIZEX05: calc($TXT-SIZE / 2);
$TXT-SIZEX2: calc($TXT-SIZE * 2);
$TXT-SIZEX3: calc($TXT-SIZE * 3);

$BTN-SIZE-FULL: 64px;
$BTN-SIZE-MOBILE: 62px;
$BTN-MARGIN: 7px;

$SEC: 2s;

@keyframes rainbow-rotate {

  from {
    filter: hue-rotate(0deg);
  } to {
    filter: hue-rotate(360deg);
  }
}

@mixin animation-rainbow-rotate {

  background-color: random-rgb-color();
  animation: rainbow-rotate 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@function random-rgb-color() {

  $R: random(255);
  $G: random(255);
  $B: random(255);
  @return rgb($R, $G, $B);
}

@mixin ButtonStyle {

  width: $BTN-SIZE-FULL;
  height: $BTN-SIZE-FULL;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin: $BTN-MARGIN;
  margin-top: 8px;
  border: none;//2px solid;
  @include animation-rainbow-rotate();
  // background-color: transparent;
  /*
  &:hover {
    // border: 2px solid random-rgb-color();
    border: 2px solid tomato;
    transition: border 0.3s ease-in-out;
  }
  */
}

@mixin FlexBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin GridBody {
  display: grid;
  place-items: center;
}

body {
  background-color: $GB;
  color: $TXT;
  padding:0;
  margin:0;
  font-size: $TXT-SIZE;
  // @include GridBody();
  @include FlexBody(); 

}

#youtube-div {
  @include FlexBody();
  margin-top: 0;//$BTN-MARGIN;
  margin-bottom: 7px;
  // img, iframe {
  //   margin: 8px;
  // }
  img {
    width: $IMG-SIZE-ON-MEDIA-HALFMAC;
  }
}

#youtube-coverart {
  align-self: center;
}

#youtube-iframe {
  height: 400px;
  width: 400px;
  border-width: 0;
  // height: 315px; 
}

.btn {
  @include ButtonStyle();
}

// #btn-switch {
//   display:none;
// }

@media only screen and (max-width: 930px) {
  #youtube-div {
    @include FlexBody();
    // padding-top: $TXT-SIZEX05;
    // margin-bottom: 10px;
    img {
      width: $IMG-SIZE-ON-MEDIA-HALFMAC;
    }
  }
  #youtube-iframe {
    height: $IMG-SIZE-ON-MEDIA-HALFMAC;
    width: $IMG-SIZE-ON-MEDIA-HALFMAC;
  }
  #youtube-coverart {
    height: 306px
  }
}

@media only screen and (max-width: 768px) {

  body { transform: scale(0.9); transform-origin: center center; }

  .btn {
    width: $BTN-SIZE-MOBILE;
    height: $BTN-SIZE-MOBILE;
  }

  img {
    width: $IMG-SIZE-ON-MEDIA-MOBILE;
  }

  #youtube-iframe {
    height: $IMG-SIZE-ON-MEDIA-HALFMAC;
    width: $IMG-SIZE-ON-MEDIA-HALFMAC;
  }
}
