$FONT-TEXT: 'Courier';
$FONT-SIZE: 42px;
$FONT-SIZE-2X: calc($FONT-SIZE * 2);
$FONT-SIZE-3X: calc($FONT-SIZE * 3);

body {
  background-color: #000000;
  color: rgb(169, 144, 144);
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-family: $FONT-TEXT;

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;

    img {
      width: 100%;
      max-width: 320px;
      height: 300px;
      max-height: 320px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}


// :root {

//   --FONT-TEXT: 'Courier';
//   --FONT-SIZE: 42px;
//   --FONT-SIZE-2X: calc(var(--FONT-SIZE) * 2);
//   --FONT-SIZE-3X: calc(var(--FONT-SIZE) * 3)
// }

// body {

//   background-color: #000000;
//   color: rgb(169, 144, 144);
//   gap: 2rem;
//   margin: 0 auto;
//   align-items: center;
//   justify-content: center;
//   font-family: var(--FONT-TEXT);
// }

// .gallery {

//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   gap: 16px;
//   max-width: 1400px;
//   margin: 0 auto;
//   padding: 20px 10px;
// }

// .gallery img {
//   width: 100%;
//   max-width: 320px;
//   height: 300px;
//   max-height: 320px;
//   object-fit: cover;
//   border-radius: 10px;
// }
