//  define mixins

@mixin container-styles
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(96vh - 3rem);
  flex-wrap: wrap;
}

@mixin button-styles(
  $size: 256px,
  $fontSize: 42px,
  $borderRadius: 0
)
{
  font-family: monospace, "Lucida Console", Courier;
  height: $size;
  width: $size;
  border: 2px;
  margin: 2px;
  text-align: center;
  font-size: $fontSize;
  user-select: none;
  cursor: pointer;
  transition: 
    background-color 0.1s ease-in-out, 
    border-color 0.1s ease-in-out;
  border: 6px solid white;
  border-radius: $borderRadius;
}

//  deploy mixins

body
{
  background-color: black;
}

.container
{
  @include container-styles;
}

.btn
{
  @include button-styles(256px, 42px);
}

.btn-L
{
  @include button-styles(256px, 42px, 12%);
}

.btn-R
{
  @include button-styles(256px, 42px, 50%);
}

@media (max-width: 320px)
{
  .container
  {
    @include container-styles;
  }

  .btn
  {
    @include button-styles(128px, 21px);
  }

  .btn-L
  {
    @include button-styles(128px, 21px, 12%);
  }

  .btn-R
  {
    @include button-styles(128px, 21px, 50%);
  }
}
