$font-size: 16px;
$background-color: #000000;
$text-color: #ffffff;

$border-color-default: #ffffff;
$border-bottom-color-default: #888989;

$macaroni-cheese: #52c1d2;
$macaroni-cheese-divider: #42767e;


@mixin label {
  border: 2px solid $border-color-default;
  width: 320px;
  margin: 21px;
  padding: 0 7px;
}

@mixin header {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

@mixin divider {
  border-bottom: 1px solid $macaroni-cheese-divider;
  margin: 2px 0;
}

@mixin divider-macaroni-cheese {
  border-bottom: 1px solid $macaroni-cheese;
  margin: 2px 0;
}

@mixin bold {
  font-weight: 800;
}

@mixin large {
  height: 10px;
  background-color: $border-color-default;
  border: 0;
}

@mixin medium {
  height: 5px;
  background-color: $border-color-default;
  border: 0;
}

@mixin small-text {
  font-size: 0.85rem;
}

@mixin calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin left-container {
  p {
    margin: -5px -2px;
    font-size: 2em;
    font-weight: 700;
  }
}

@mixin calories-info-span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}

@mixin right {
  justify-content: flex-end;
}

@mixin indent($amount) {
  margin-left: $amount;
}

@mixin note {
  padding: 0 8px;
  text-indent: -8px;
  font-size: 0.6rem;
  margin: 5px 0;
}

.wen-xing-ti-xing {
  padding: 4px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
  color: $text-color;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  @include label;

}

.label-macaroni-cheese {
  color: $macaroni-cheese;
  border: 2px solid $macaroni-cheese
}

header h1 {
  @include header;
}

p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  .divider {
    @include divider;
  }
}

.divider {
  @include divider;
}

.bold {
  @include bold;
}

.large {
  @include large;
}

.label-macaroni-cheese .large {
  @include divider-macaroni-cheese;
  background-color: $macaroni-cheese;
}

.medium {
  @include medium;
}

.label-macaroni-cheese .medium {
  @include divider-macaroni-cheese;
  background-color: $macaroni-cheese;
}

.small-text {
  @include small-text;
}

.calories-info {
  @include calories-info;

  h2 {
    margin: 0;
  }

  span  {
    @include calories-info-span;
  }
}

.left-container {
  @include left-container;
}

.right {
  @include right;
}

.indent {
  @include indent(1em);
}

.double-indent {
  @include indent(2em);
}

.daily-value {
  p:not(.no-divider) {
    @include divider;
  }
}

.note {
  @include note;
}
