body {

    background-color: black;
    color: white;
    
    /* transform: scale(1.25); */
    /* transform-origin: top left; */
    display: flex;
    justify-content: center; /* center all children horizontally */
    align-items: center; /* center all children vertically */
    height: 100vh;
}

:root {

    --FONT-SIZE: 42px;
    --FONT-SIZE-HALF: calc(var(--FONT-SIZE) / 2);
    --FONT-SIZE-QUART: calc(var(--FONT-SIZE) / 4);
    --FONT-SIZE-PLACEHOLDER: 16px;
    --FONT-BUTTON: 'Courier New', 'Inconsolata', 'Consolas';
    --FONT-TEXT: 'Courier', 'Inconsolata', 'Menlo';
    --BUTTON-SIZE: 36px;
    --MARGIN-S: .2em;
    --WIDTH-M: 192px;
    --TIME-TRANS: 0.3s;
    --RED-PV: palevioletred;
    --RED-TQ: paleturquoise;
}

#root {

    min-height: calc(100vh - 3rem);
    /* text-align: center; */
    margin: 1em;
    font-family: var(--FONT-TEXT);
    font-size: var(--FONT-SIZE);

    width: calc(100vw / 3 + 128px);
}

button {

    margin-left: var(--MARGIN-S);
    margin-right: var(--MARGIN-S);
    font-size : var(--FONT-SIZE-HALF);
    font-family : var(--FONT-BUTTON);
    /* border-radius: 2px; */
}

.btn-twin {
    height: var(--BUTTON-SIZE);
    width: var(--BUTTON-SIZE);
}

input[type='text'] {

    height: calc(var(--FONT-SIZE-HALF) + 4px);
    width : var(--WIDTH-M);
    margin: calc(var(--MARGIN-S) * 2);
    padding-top: calc(var(--MARGIN-S) * 2 + 2px);

    color: cornflowerblue;
    font-family : var(--FONT-BUTTON);
    font-size: var(--FONT-SIZE-PLACEHOLDER);
    
}

input[type='checkbox'] {

    transform: scale(2);
    transform-origin: bottom;

    margin: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin-right: 3em; */

}

::placeholder {

    font-family : var(--FONT-BUTTON);
    font-size: var(--FONT-SIZE-PLACEHOLDER);
    font-weight: 100;
}

.todolist {

    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.todolist > div {

    display: flex;
    /* padding-left: var(--MARGIN-S); */
}

.todolist > div > button {

    height: default;
    align-self: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

.btn-delete-job {

    color: var(--RED-PV)
}

.todoitem-text {

    color: var(--RED-TQ);
}

.btn-add-job:hover {

    background-color:var(--RED-PV);
    transition: var(--TIME-TRANS);
    padding: 1px;
    border-radius: 50px;
    opacity: 0.8;
}

.btn-clear-job:hover {

    background-color: var(--RED-TQ);
    transition: var(--TIME-TRANS);
    padding: 1px;
    border-radius: 50px;
    opacity: 0.8;
}