:root {

  --FONT-TEXT: Consolas;
  --FONT-SIZE: 32px;
  --FONT-SIZE-HALF: calc(var(--FONT-SIZE) / 2);
  --FONT-SIZE-2X: calc(var(--FONT-SIZE) * 2);
  --FONT-SIZE-3X: calc(var(--FONT-SIZE) * 3);
  --BTN-WATER-GREEN: #23aeba;
  --PADDING-TOP: 14%;
  --PADDING-BOTTOM: 21%;
  --PADDING-LR: 42vh;
}

body {

  background-color: black;
  color: white;
  white-space: pre-wrap;
  user-select: none;

  height: 100%;
  margin: 0;
  padding: 0;
}

.container {

  padding-left: var(--PADDING-LR);
  padding-right: var(--PADDING-LR);
  padding-top: var(--PADDING-TOP);
  padding-bottom: var(--PADDING-BOTTOM);

  font-family: var(--FONT-TEXT);
  font-size: var(--FONT-SIZE);
  cursor: pointer;
  /* display: block; */
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}