$bg-color: black;
$text-color: #23aeba;
$btn-water-green: #ABF8E4;

$pre-wrap: pre-wrap;
$user-select: none;

$container-height: 88%;
$container-padding-lr: 42vh;
$container-padding-top: 14%;
$container-padding-bottom: 21%;

$font-family: Consolas;
$font-size: 32px;


//  define @mixin

@mixin body-styles {
  background-color: $bg-color;
  color: $text-color;
  white-space: $pre-wrap;
  user-select: $user-select;
  height: 100%;
  margin: 0;
  padding: 0;
}

@mixin container-styles {
  padding-left: $container-padding-lr;
  padding-right: $container-padding-lr;
  padding-top: $container-padding-top;
  padding-bottom: $container-padding-bottom;
  font-family: $font-family;
  font-size: $font-size;
  cursor: pointer;
  height: $container-height;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


//  deploy @minxin

body {
  @include body-styles;
}

.container {
  @include container-styles;
}
