:root {

  --FONT-TEXT: 'Courier';
  --FONT-SIZE: 42px;
  --FONT-SIZE-HALF: calc(var(--FONT-SIZE) / 2);
  --FONT-SIZE-2X: calc(var(--FONT-SIZE) * 2);
  --FONT-SIZE-3X: calc(var(--FONT-SIZE) * 3)
}

body {

  background-color: black;
  color: white;
  font-family: var(--FONT-TEXT);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: var(--FONT-SIZE-HALF);
}

pre, span, div {

  margin: 0;
  margin-right: 1em
}

.container-L {

  display: flex;
  justify-content: center;
}

.container-R {

  display: flex;
  flex-direction: column;
  white-space: pre-wrap; /* show \n inside strings */
}

.container-R > span {
  margin-bottom: 1.2em;
}


/* .container-btns {
  position: absolute;

}

.top-right-button {
  position: relative;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; 
} */
