body {

    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

:root {

    --FONT-SIZE: 42px;
    --FONT-SIZE-HALF: calc(var(--FONT-SIZE) / 2);
    --FONT-SIZE-QUART: calc(var(--FONT-SIZE) / 4);
    --FONT-SIZE-PLACEHOLDER: 21px;
    --FONT-BUTTON: 'Inconsolata';
    --FONT-TEXT: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --FONT-INPUT-DISPLAY: Georgia, 'Times New Roman', Times, serif;
    --INPUTBAR-SIZE: 42px;
    --BUTTON-SIZE: 64px;
    --MARGIN-S: .2em;
    --WIDTH-M: 192px;
    --TIME-TRANS: 0.3s;
    --RED-PV: palevioletred;
    --RED-TQ: paleturquoise;
}

#root {

    text-align: center;
    margin: .2em;
    font-family: var(--FONT-TEXT);
    font-size: var(--FONT-SIZE);
}

div {
    margin: var(--MARGIN-S)
}

button {

    margin-left: var(--MARGIN-S);
    margin-right: var(--MARGIN-S);
    font-size : var(--FONT-SIZE);
    height: var(--BUTTON-SIZE);
    width: calc(var(--BUTTON-SIZE) * 2);
}

.div-input-field input {

    height: var(--INPUTBAR-SIZE);
    width: calc(var(--BUTTON-SIZE) * 5);
    font-size: var(--FONT-SIZE-PLACEHOLDER);
    outline: none;
}

.div-input-text {

    font-family: VAR(--FONT-INPUT-DISPLAY);    
}

.div-input-text-content {

    height: var(--BUTTON-SIZE); /*fixed emoji/letter diff heigh problem*/
}
