$primary-color: burlywood;
$accent-color: brown;

@mixin text-center {
  text-align: center;
}

@mixin text-left {
  text-align: left;
}

body {
  padding: 20px;
  font-family: Caston, 'Times New Roman', Times, serif;
  background-image: url(https://i.imgur.com/NxGx5yf.jpg);
}

h1 {
  margin-top: 0;
  font-size: 42px;
  margin-bottom: 15px;
  @include text-center;
  font-family: Baskerville;
}

h2 {
  font-size: 30px;
  @include text-center;
}

p {
  @include text-center;
}

.established {
  font-style: italic;
}

.menu {
  width: 80%;
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-color;
}

img {
  display: block;
  margin: 0 auto;
}

hr {
  height: 2px;
  border-color: $accent-color;
  background-color: $accent-color;
}

.bottom-line {
  margin-top: 25px;
}

.item p {
  margin-bottom: 21px;
  font-size: 18px;
  margin-bottom: 5px;
  // display: inline-block;

  &.flavor, &.dessert {
    // width: 49%;
    @include text-center;
  }

  &.price {
    // width: 49%;
    // text-align: right;
    @include text-center;
    margin-bottom: 32px;
  }
}

footer {
  font-size: 14px;

  .address {
    margin-bottom: 5px;
  }

  a {
    color: black;
    &:visited, &:hover, &:active {
      color: $accent-color;
    }
  }
}

h5 {
  @include text-center;
}
