$H-FULL: 400px;
$H-MOBILE: 230px;

$GB: #000000;
$TXT: #ffffff;
$TXT-SIZE: 32px;
$TXT-SIZE-05: calc($TXT-SIZE/2);
$BTN-SIZE: 42px;
$BTN-SIZE-05: calc($BTN-SIZE/2);
$BTN-SIZE-x2: calc($BTN-SIZE*2);

$BTN-SIZE-BIG: 132px;

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  user-select: none;

}

#key-logo-div {
  // img {
  //   display:block;
  //   height: $H-MOBILE;
  // }
  // margin-top: calc($TXT-SIZE - 10px);
  margin-top: 10px;
  min-height: 300px;
}

#btn-generate-key {
  // margin-top: 8px;
  // margin-right: 10px;
  border-radius: 50%;
  color:black;
  width: $BTN-SIZE-BIG;
  height: $BTN-SIZE-BIG;
  border: none;
  user-select: none;
  font-size: $TXT-SIZE-05;
  cursor:pointer;
}

.btn-selection-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: $BTN-SIZE-05;
  height: $BTN-SIZE-05;
}

.btn-selection {

  width:calc($BTN-SIZE-BIG - 36px);
  height:calc($BTN-SIZE-BIG - 36px);
  font-size: $TXT-SIZE-05;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 20px;
  border-radius: 50%;
  border: none;
  user-select: none;
  cursor:pointer;
}

.flex-1 {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .key-logo-div {
    height: $H-MOBILE;
  }
}

