<div class="label label-camel-milk">
  <header>
    <h1 class="bold">Nutrition Facts</h1>
    <h3 class="bold">(Aadvik Camel Milk Powder)</h3>
    <div class="divider devider-camel-milk"></div>
    <p>10 servings per pack</p>
    <p class="bold">Serving size <span>20g</span></p>
  </header>
  <div class="divider devider-camel-milk large"></div>
  <div class="calories-info">
    <div class="left-container">
      <h2 class="bold small-text">Amount per serving</h2>
      <p>Calories</p>
    </div>
    <span>105</span>
  </div>
  <div class="divider devider-camel-milk medium"></div>
  <div class="wen-xin-ti-xing">
    <p class="bold">百佳免運費: <span>精選貨品買滿$800 - 92折</span></p>
  </div>
  <div class="divider devider-camel-milk medium"></div>
  <div class="daily-value small-text">
    <p class="bold right no-divider">% Daily Value *</p>
    <div class="divider devider-camel-milk"></div>
    <p class="indent no-divideclass">
      <span>
        <span class="bold">Protein</span> 4.2g</span>
      </span>
      <span class="bold">8.4%</span>
    </p>
    <p>
      <span><span class="bold">Total Fat</span> 6.6g</span>
      <span class="bold">8.5%</span>
    </p>
    <p class="indent no-divider">
      Saturated Fat 4.9g <span class="bold">24.2%</span>
    </p>
    <div class="divider devider-camel-milk"></div>
    <p class="indent no-divider"><span>Trans Fat 0.0g</span></p>
    <div class="divider devider-camel-milk"></div>
    <p>
      <span><span class="bold">Total Carbohydrates</span> 7.2g</span>
      <span class="bold">2.6%</span>
    </p>
    <p class="indent no-divider">
      <span>Dietary Fiber 2g</span>
      <span>8%</span>
    </p>
    <div class="divider devider-camel-milk"></div>
    <p class="indent no-divider">Sugars 3.8g</p>
    <p class="indent no-divider">Added Sugars 0.0g</p>
    <!-- <div class="divider devider-camel-milk double-indent"></div>
    <p class="double-indent no-divider">
      Incl. Added Sugars 0g<span class="bold">0%</span>
      <div class="divider devider-camel-milk"></div>
    </p> -->
    <p class="indent no-divideclass">
      <span><span class="bold">Cholesterol</span> 21mg</span></span>
      <span class="bold">7%</span>
    </p>
    <p>
      <span><span class="bold">Sodium</span> 110mg</span>
      <span class="bold">4.8%</span>
    </p>
    <!--
    <p>
      <span><span class="bold">Total Carb.</span> 50g</span>
      <span class="bold">18%</span>
    </p>
    <p class="indent no-divider">
      <span>Dietary Fiber 2g</span>
      <span>8%</span>
    </p>
    <div class="divider devider-camel-milk"></div>
    <p class="indent no-divider">Total Sugars 10g</p>
    <div class="divider devider-camel-milk double-indent"></div>
    <p class="double-indent no-divider">
      Incl. Added Sugars 0g<span class="bold">0%</span>
      <div class="divider devider-camel-milk"></div>
    </p>
    -->
    <p class="no-divider"><span class="bold">Protein</span> 10g
      <div class="divider devider-camel-milk large"></div>
      <p>Vitamin D 0mcg <span>0%</span></p>
      <p>Calcium 130mg <span>10%</span></p>
      <p>Iron 2.5mg <span>15%</span></p>
      <p class="no-divider">Potassium 370mg <span>8%</span></p>
    </p>
    <div class="divider devider-camel-milk medium"></div>
    <p class="note no-divider">
      * The % Daily Value (DV) tells you how much a nutrient in a serving of
      food contributes to a daily diet. 2,000 calories a day is used for
      general nutrition advice.
    </p>
  </div>
</div>